body {
  font-family: 'PT Sans', sans-serif;
  background: url("/static/images/bg.jpeg") fixed;
  height: 100vh;
}

.gridContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 8% 11% 70% 11%;
  grid-gap: 10px;
}

.navBar {
  display: grid;
  grid-area: 1/2/2/3;
  padding: 1em;
  border-radius: 40px;
  background-color: rgba(204, 197, 188, 0.8);
  display: flex;
  align-items: center;
}

.navBar a:hover {
  color: white;
  cursor: pointer;
  -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.left, .middle, .right {
  flex: 1;
}

.middle {
  text-align: center;
  min-width: 500px;
}

.left {
  text-align: right;
}

.logo {
  height: 50px;
}

.fb, .ig, .share {
  height: 30px;
}

.menu {
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.title {
  display: grid;
  grid-area: 2/2/3/3;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.moods {
  display: grid;
  grid-area: 3/2/4/3;
  border-radius: 40px;
  background-color: rgba(204, 197, 188, 0.8);
  font-size: 16px;
  padding: 40px;
}

.moods ul{
  display: flex;  
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
}

.moods ul li {
  border: 2px solid black;
  border-radius: 30px;
  padding: 12px;
  height: 22px;
  margin-left: 20px;
}

.moods ul li:hover {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.moods ul li:active {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.submit {
  width: 200px;
  height: 34px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
}

.submit:hover {
  color: rgb(54, 53, 53);
  background-color: rgba(255, 255, 255, 0.5);;
  cursor: pointer;
  transition-duration: 0.6s;
}

.is-hidden {
  display: none;
}

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999
}

.modal {
  padding: 20px 30px;
  width: 90%;
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #fff;
  z-index: 9999;
}
